{%extends 'bill/base.html'%}
{%block body%}
<form action="{% url 'bill:printp' %}" method="post">
{% csrf_token %}
<table style="width:100%" border="boder">
	<tr>
	    <th>Width in mm</th>
	    <th>Article No.</th> 
	    <th>Details</th>
	    <th>Selling Price in Rs.</th>
	    <th>Available</th>
	    <th>Quantity</th>
	    <th>Total</th>
	</tr>
	{% for sel_prod_obj in sel_prod_objs %}
	<tr>
		<td>&nbsp;&nbsp;&nbsp;{{ sel_prod_obj.prod_width }}</td>
		<td>&nbsp;&nbsp;&nbsp;{{ sel_prod_obj.prod_artno }}</td>
		<td>&nbsp;&nbsp;&nbsp;{{ sel_prod_obj.prod_desc }}</td>
		<td><input id="price{{ forloop.counter }}" value="{{ sel_prod_obj.prod_rps }}" readonly="readonly"></td>
		<td>&nbsp;&nbsp;&nbsp;{{ sel_prod_obj.prod_stock }}</td>
		<td>&nbsp;&nbsp;&nbsp;<input type="in" name="quant{{ forloop.counter }}" id="quant{{ forloop.counter }}" oninput="$('#total{{ forloop.counter }}').val($('#price{{ forloop.counter }}').val()*$('#quant{{ forloop.counter }}').val());if($('quant{{ forloop.counter }}').val() == 0){alert('Value cannot be zero');}" value="1" autocomplete="off"></td>
		<th>&nbsp;&nbsp;&nbsp;<input name="total{{ forloop.counter }}" id="total{{ forloop.counter }}" value="{{ sel_prod_obj.prod_rps }}" readonly="readonly"></td>
	</tr>
	{% endfor %}
</table>
<label for="sub_total">Sub Total</label>
<input name="sub_total" id="sub_total" readonly="readonly">
{% ifequal t_type_val "1" %}
<br>
<label for="bcpval">Enter BCP discount rate</label>
<input name="bcpval" id="bcpval" value="0" autocomplete="off"><br>
<label for="bcp">BCP discount</label>
<input name="bcp" id="bcp" readonly="readonly">
{% endifequal %}
{% ifequal t_type_val "3" %}
<br>
<label for="cpval">Enter discount rate</label>
<input name="cpval" id="cpval" value="0" autocomplete="off"><br>
<label for="cp">Discount</label>
<input name="cp" id="cp" readonly="readonly">
{% endifequal %}
<br>
<label for="total">Total</label>
<input name="total" id="total" readonly="readonly">
<br>
<label for="cgst">CGST at 9%</label>
<input name="cgst" id="cgst" readonly="readonly">
<br>
<label for="sgst">SGST at 9%</label>
<input name="sgst" id="sgst" readonly="readonly">
<br>
<label for="gtotal">Grand Total</label>
<input name="gtotal" id="gtotal" readonly="readonly">
</div>
<br>
<button type="submit" name="subbb">next</button>
<input name="gst" id="gst" style="visibility:hidden" readonly="readonly">
</form>
<script type="text/javascript">
window.setInterval(function(){
	var sum = 0;
	for(i=1;i<={{ sel_prod_objs.count }};i++)
	{
		name = "#total"+i;
		sum = sum+parseFloat($(name).val());
	}
	$("#sub_total").val(sum);
	var bcpx = parseFloat($('#sub_total').val())*parseFloat($('#bcpval').val())*.01;
	$('#bcp').val(bcpx);
	var cpx = parseFloat($('#sub_total').val())*parseFloat($('#cpval').val())*.01;
	$('#cp').val(cpx);
	if("{{t_type_val}}" == "1")
	{
		$('#total').val(parseFloat($('#sub_total').val())-bcpx);
		var gstx = (parseFloat($('#sub_total').val())-bcpx)*parseFloat(0.18);
		$('#gst').val(gstx);
	}
	else if("{{t_type_val}}" == "3")
	{
		$('#total').val(parseFloat($('#sub_total').val())-cpx);
		var gstx = (parseFloat($('#sub_total').val())-cpx)*parseFloat(0.18);
		$('#gst').val(gstx);
	}
	else
	{
		$('#total').val(parseFloat($('#sub_total').val()));
		var gstx = (parseFloat($('#sub_total').val())*parseFloat(0.18));
		$('#gst').val(gstx);
	}
	$('#cgst').val(gstx*.5);
	$('#sgst').val(gstx*.5);
	$('#gtotal').val(parseFloat($('#total').val())+gstx);
}, 500);
</script>
{%endblock%}